ol{
    padding: 20px;
    list-style: none;
    text-align: center;
}

ol li{
    gap: 20px;
}

span{
    margin: 10px 50px;    
}

.btn-remove{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: tomato;
}

.slide{    
    display: flex;
    justify-content: center;
    animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;   
}

@keyframes slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-30%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }